.principal_reboot {
    width: 100%;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.capybara {
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.visto {
    width: 200px;
    height: 200px;
}

.cate {
    padding-bottom: 10px;
    width: 190px;
    height: 190px;
    margin-left: 30px;
}

.texto {
    margin-top: 20px;
}

.texto h1 {
    font-size: 38px;
}

.btn_redireccion {

    margin-top: 25px;
    overflow: hidden;
    border: 1px solid green;
    width: 25%;
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in;
}