.Cartas__container {
    margin-top: 8%;
    grid-template-columns: repeat(3, 1fr);
}

.Cartas__subtitle {
    color: var(--color-primario);
    font-size: var(--funte-tamaño-mas-pequeño);
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.Cartas__title {
    font-size: var(--fuente-tamaño-h4);
}

.Cartas__description {
    margin-top: 2%;
    min-height: 140px;
}

.Cartas__item {
    height: 225px;
}

.Cartas__item img {
    width: 21%;
    height: 31%;
}