#nosotros {
    background-color: var(--primer-gradiante);
    min-height: 100vh;
    display: grid;
    align-items: center;
    margin-top: 2%;
}

.nosotros__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
    width: 85%;
    margin-top: 3%;
}

.nosotros__data {
    margin-top: 18%;
}

.nosotros__img {
    height: 445px;
    justify-self: left;
    margin-left: -1.1%;
}

#nosotros::before {
    content: '';
    position: absolute;
    left: 8%;
    top: 30%;
    width: 500px;
    height: 360px;
    background-color: var(--color-primario);
    z-index: -1;
    border-radius: 0 12rem 12rem 0;
}

.nosotros__job {
    font-weight: 600;
}

.nosotros__job span {
    font-size: var(--fuente-tamaño-mas-pequeño);
}

.nosotros__job span {
    font-size: var(--fuente-tamaño-mas-pequeño);
}

.nosotros__title span {
    color: var(--color-primario);
}


.nosotros__job b {
    font-family: var(--fuente-secundaria);
    font-size: var(--fuente-tamaño-h2);
    margin-left: 10px;
}

.nosotros__title {
    font-size: var(--fuente-tamaño-grande);
    text-shadow: 2px 2px hsl(0, 0%, 0%),
        -2px 2px hsl(0, 0%, 0%),
        2px -2px hsl(0, 0%, 0%),
        -2px -2px hsl(0, 0%, 0%),
        5px 5px hsl(0, 0%, 0%);
    line-height: 1.2;
    margin-top: 8px;
}

.nosotros__text {
    font-size: var(--fuente-tamaño-larga);
    margin-block: 10px 28px;
    max-width: 520px;
}

.nosotros__socials {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}

.nosotros_social-link {
    color: var(--color-titulo);
    font-size: var(--fuente-tamaño-h5);
    transition: all 0.7s var(--transicion);
}

.nosotros_social-link:hover {
    color: var(--color-primario);
}

.nosotros__btns {
    display: flex;
    column-gap: 70px;
}

.hero__link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -97%;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background-color: var(--color-borde);
}