.mascotas {
    margin-top: 3%;
}

.mascotas__container {
    grid-template-columns: repeat(4, 1fr);
}

.mascotas__fondo {
    background-color: var(--color-primario);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
}

.mascotas__img {
    position: absolute;
    bottom: 0px;
    height: 220px;
    border-radius: 255px;
    object-fit: cover;
    cursor: pointer;
}

.mascotas__plus {
    background-color: var(--color-grande-alt);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
}

.mascotas__plus__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s var(--transicion);
}

.mascotas__plus__form {
    width: 80%;
    position: relative;
    background-color: var(--color-grande-alt);
    padding: 3.5rem 2.5rem 3.5rem 2.5rem;
    border-radius: 1.5rem;
}

.active-mascotas__plus {
    opacity: 1;
    visibility: visible;
}

.mascota__nombre {
    text-align: center;
    font-size: 25px;
}

.form__mas {
    width: 100%;
    padding: 0rem 1.7rem;
    margin-top: -1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.form__img {
    background-color: var(--color-primario);
    margin-top: 1.7rem;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
}

.mascotas__icon__form {
    position: absolute;
    background-color: var(--color-grande-alt);
    z-index: 100;
    border-radius: 5rem;
    top: 32%;
    right: 30%;
    height: 80px;
    width: 80px;
    padding: 1.5rem;
    object-fit: cover;
}

.img__form {
    position: absolute;
    bottom: 0px;
    height: 220px;
    border-radius: 255px;
    object-fit: cover;
    opacity: 0.75;
}

.form__sep {
    padding: 1rem;
    width: 220px;
    text-align: center;
}

.form__pri {
    grid-template-columns: repeat(3, 29%);
    width: 90%;
    text-align: center;
    padding: 0.5rem 1rem;
}

.form__sec {
    grid-template-columns: repeat(2, 26.2%);
    padding: 0.5rem 1rem;
}

.label__form__mas {
    display: block;
    color: var(--color-primario);
}

.form__input {
    border: 2px solid var(--color-primario);
    width: 175px;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    color: var(--color-titulo);
}

.form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.carta__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    background-color: var(--color-grande-alt);
    width: 100%;
    border-radius: 100%;
    position: relative;
}

.mascotas__icon {
    position: absolute;
    color: var(--color-primario);
    top: 32%;
    right: 30%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.mascotas__carta {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s var(--transicion);
}

.mascotas__cartas__content {
    border-radius: 1rem;
    width: 850px;
    height: 500px;
    position: relative;
    background-color: var(--color-grande-alt);
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

.mascota__info {
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 2.5rem;
    margin-bottom: 1.5rem;
}

.mascota__info__content,
.mascota__diagnostico__content {
    margin-top: 0.6rem;
}

.mascota__citas__content {
    margin-top: 0.6rem;
    display: inline-block;
}

.mascota__info__div {
    margin-right: 3rem;
}

.mascota__adicional {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.1rem 2.5rem;
}

.mascota__nombre {
    display: flex;
    justify-content: center;
    padding: 1rem 2.5rem;
    margin-bottom: 1.5rem;
}

.mascota__info__titulo {
    color: var(--color-primario);
}

.mascota__diagnostico,
.mascota__citas {
    height: 160px;
    overflow: auto;
}

.mascotas__carta__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-primario);
    cursor: pointer;
}

.active-carta {
    opacity: 1;
    visibility: visible;
}

.link__citas {
    color: black;
    font-size: 16px;
    width: 80%;
    display: inline-block;
}

.link__citas:hover{
    color: var(--color-primario);
}

.h:hover {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
    transition: all .3s var(--transicion);
}

.mascotas__edt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s var(--transicion);
}

.mascotas__edt__content {
    width: 80%;
    position: relative;
    background-color: var(--color-grande-alt);
    padding: 3.5rem 2.5rem;
    border-radius: 1.5rem;
}

.active-mascotas__edt {
    opacity: 1;
    visibility: visible;
}

.h {
    width: 250px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}