.serviceDetailsView {
    align-items: center;
    padding-top: 3rem;
    margin-left: 0rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.titulo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.titulo-servicio {
    color: var(--color-primario);
    font-size: 40px;
    text-shadow: 1.5px 1.5px hsl(0, 0%, 0%),
        -1.5px 1.5px hsl(0, 0%, 0%),
        1.5px -1.5px hsl(0, 0%, 0%),
        -1.5px -1.5px hsl(0, 0%, 0%),
        3.0px 3.0px hsl(0, 0%, 0%);
}

.container-descripcion {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem 9rem 1.5rem 9rem;
}

.img2-servicio {
    width: 600px;
    border-radius: 1.5rem;
    justify-self: center;
    margin-top: 1.5rem;
}

.contenido-servicio {
    padding: 4rem 2.5rem 1rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fuente-tamaño-normal);
}

.btn__servicio {
    display: flex;
    justify-content: center;
    padding: 1.2rem 2.5rem;
}