.Cartasad__container {
    margin-top: 3%;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.tarjeta1 {
    background-color: white;
    width: 47%;
    border-radius: 20px;

}

.tarjeta2 {
    background-color: white;
    width: 47%;
    border-radius: 30px;

}

.Cartas__subtitle {
    color: var(--color-primario);
    font-size: var(--funte-tamaño-mas-pequeño);
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.Cartas__title {
    font-size: var(--fuente-tamaño-h4);
    text-align: center;
    margin-top: 20px;
}

.texto_carta {
    position: relative;
    margin-left: 10px;
    width: 60%;
    margin-top: 15px;
}

.texto_carta input {
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.texto_carta input:hover {
    border-color: var(--color-primario);
}

.texto_carta input:focus {
    border-color: green;
}

.text_a {
    font-size: 15px;
    padding-bottom: 2%;
}

.texto_carta span {
    position: absolute;
    width: 200px;
    top: 9px;
    left: 8px;
    padding: 2px;
    pointer-events: none;
    font-size: 15px;
    color: #000;
    cursor: text;
    transition: top 50ms ease-in,
        left 50ms ease-in, font-size 50ms ease-in;

}

.texto_carta input:focus~span,
.texto_carta input:valid+span {
    top: -12px;
    font-size: 12px;
    left: 8px;
    width: auto;
    height: auto;
    background-color: white;
    color: green;
    text-transform: uppercase;
}


.contenido_carta {
    display: flex;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 30px;

}

.imagen_carta {

    width: 150px;
    height: 150px;
    margin-left: 20px;

}

.img_buscar {
    background-color: brown;
    width: 100%;
    height: 100%;
}

.img_añadir {
    text-align: left;
    height: 50%;
}

.div_btn_busc {
    padding-top: 8%;
    width: 100%;
    text-align: center;
}

.btn_buscar {

    overflow: hidden;
    border: 1px solid green;
    width: 50%;
    padding: 10px;
    color: green;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in;
}

.btn_buscar:hover {
    background-color: rgb(1, 153, 1);
    color: white;
}

.dec {
    width: 50%;
    height: 20%;
    margin-left: 55%;
    margin-top: 0%;
    position: relative;
    overflow: hidden;
}

.s {
    position: absolute;
    width: 80%;
    top: -5%;
    left: 35%;
}

/* 
.btn_buscar::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0;
    top: -20%;
    background-color: green;
    border-radius: 50%;
    transition: all 0.4s ease-in;
    z-index: 1;
}

.btn_buscar:hover::before {
    top: 16%;
    border-radius: 0;
} */

.form__agrSelc {
    width: 100%;
    height: 50%;
    padding: .5rem 2rem;
    text-align: center;
}

.agregar__selc {
    display: block;
    border-radius: 5rem;
    text-align: center;
    width: 100%;
    height: 45%;
    padding: .5rem;
    margin-bottom: .7rem;
    font-family: var(--fuente-cuerpo);
    font-size: var(--funte-tamaño-mas-pequeño);
}

.btn_selc {

    overflow: hidden;
    border: 1px solid green;
    width: 70%;
    padding: 10px;
    color: green;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in;
}

.btn_selc:hover {
    background-color: rgb(1, 153, 1);
    color: white;
}

.sede__form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s var(--transicion);
}

.sede__form__cnt {
    border-radius: 1rem;
    width: 850px;
    height: 500px;
    position: relative;
    background-color: var(--color-grande-alt);
    padding: .5rem 2.5rem .5rem 2.5rem;
    overflow: auto;
}

.form__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-primario);
    cursor: pointer;
}

.form__title {
    display: flex;
    justify-content: center;
    padding: 2rem 2.5rem;
}

.active-form {
    opacity: 1;
    visibility: visible;
}

.sede__img {
    background-color: var(--color-primario);
    margin-top: 3.2rem;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
}

.img__sede {
    position: absolute;
    top: -1px;
    height: 200px;
    border-radius: 255px;
    object-fit: cover;
    opacity: 0.75;
}

.form__inputs {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -0.5rem;
    padding: 0 2.5rem;
}

.sede__pri {
    grid-template-columns: repeat(2, 1fr);
}

.form__input__des {
    border: 2px solid var(--color-primario);
    width: 425px;
    height: 100px;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    color: var(--color-titulo);
    overflow: auto;
}

.as {
    margin-top: -.5rem;
}

.as:hover {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
    transition: all .3s var(--transicion);
}

.personal__form__cnt {
    border-radius: 1rem;
    width: 1050px;
    height: 550px;
    position: relative;
    background-color: var(--color-grande-alt);
    padding: .5rem 2.5rem .5rem 1.5rem;
    overflow: auto;
}

.form__per__title {
    display: flex;
    justify-content: center;
    padding: 2.5rem 2.5rem;
}

.personal__pri {
    grid-template-columns: repeat(3, 1fr);
}

.form__sep__p {
    padding: 0rem 1rem .5rem 1rem;
    width: 220px;
    text-align: center;
}

.personal__form__sec {
    grid-template-columns: repeat(2, 32%);
}

.ap {
    margin-top: -1.5rem;
}

.ap:hover {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
    transition: all .3s var(--transicion);
}

.img__per {
    position: absolute;
    top: -1px;
    height: 200px;
    border-radius: 255px;
    object-fit: cover;
    opacity: 0.75;
}

.form__input__sedes {
    border: 2px solid var(--color-primario);
    font-size: 16px;
    font-family: var(--fuente-cuerpo);
    width: 175px;
    text-align: center;
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-radius: 1.5rem;
    color: var(--color-titulo);
}

.ser__img {
    background-color: var(--color-primario);
    margin: 1rem 0;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
}

.img__ser {
    position: absolute;
    top: 1px;
    height: 150px;
    border-radius: 255px;
    object-fit: cover;
    opacity: 0.75;
}

.ser__icon__form {
    position: absolute;
    background-color: var(--color-grande-alt);
    z-index: 100;
    border-radius: 5rem;
    top: 30%;
    right: 30%;
    height: 60px;
    width: 60px;
    padding: 1.2rem;
    object-fit: cover;
}

.aser {
    margin-top: -5.5rem;
}

.aser:hover {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
    transition: all .3s var(--transicion);
}

.contenido_carta_bus {
    text-align: center;
    padding: 2rem 2.5rem;
}

.bus__sobre {
    position: relative;
    width: 100%;
}

.input__bus {
    display: block;
    border-radius: 5rem;
    border: var(--color-primario) solid 2px;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: .5rem;
    margin-bottom: .7rem;
    font-family: var(--fuente-cuerpo);
    font-size: var(--funte-tamaño-mas-pequeño);
}

.bus__selc {
    position: absolute;
    color: var(--color-primario);
    border: none;
    top: 6px;
    right: 10px;
    display: block;
    border-radius: 5rem;
    text-align: center;
    width: 25%;
    height: 80%;
    margin-bottom: .7rem;
    font-family: var(--fuente-cuerpo);
    font-size: var(--funte-tamaño-mas-pequeño);
}

.btn_bus {
    overflow: hidden;
    border: 1px solid green;
    width: 50%;
    padding: 10px;
    color: green;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in;
}

.result__info {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2.5rem;
}

.res__sep {
    padding: 1rem;
    margin: .5rem;
    text-align: center;
}

.result__titulo {
    color: var(--color-primario);
    font-weight: 600;
    padding: .5rem;
}

.result__info__pri {
    grid-template-columns: repeat(2, 1fr);
}

.res__img {
    background-color: var(--color-primario);
    margin-top: 2rem;
    margin-left: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
}

.img__res {
    position: absolute;
    height: 200px;
    border-radius: 255px;
    object-fit: cover;
    opacity: 0.75;
}

.result__info__cnt {
    width: 100%;
    margin-right: 8rem;
}

.res__btn {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.result__per__pri {
    grid-template-columns: repeat(3, 1fr);
}

.result__per__sec {
    grid-template-columns: repeat(3, 1fr);
}

.res__sepP {
    padding: .5rem;
    margin: .5rem;
    text-align: center;
}

.res__Sbtn {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -30px;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    height: 10px;
}