
.fondo{
    position: fixed;
    background: rgba(0,0,0,0, 0.7);
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.ventana{
    background-color:#ffffff   ;
    width: 1250px;
    min-height: 220px;
    backdrop-filter: blur(20px);
    padding: 30px 50px 50px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    align-self: center;
    z-index: 1000;
    position: absolute;
    transition: transform 0.3s, box-shadow 0.3s;
    display: grid;
    overflow: hidden;
}

.header{
    display: grid;
    grid-template-columns: 6fr 6fr;
}


#titulo{
    grid-column: 1;
    font-size: 30px;
    margin-bottom: 5px;
}



.cerrar{
    grid-column: 3;
    cursor: pointer;
}

.cerrar:hover{
    color: var(--color-primario)
}

.body{
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 2fr 2fr 2fr; 
}

.servicio{
    grid-column: 1;
}

.mascota{
    grid-column: 2;
}

.veterinario{
    grid-column: 3;
}

.fecha{
    grid-column: 4;
}

.estado{
    grid-column: 6;
}

.sede{
    grid-column: 5;
}

.titulos{
    font-size: 20px;
}

.cancelar{
    cursor: pointer;
}

.cancelar:hover{
    color: var(--color-primario)
}

.footer{
    align-items: center;
    align-self: center;
}